eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false

server:
  port: ${SERVICE.DISCOVERY.SERVER.PORT:8761}

spring:
  application:
    name: Discovery-Server


management:
  tracing:
    sampling:
      probability: 1.0

